@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
	@font-face {
		font-family: 'Garton';
		font-style: normal;
		src: url("/fonts/Garton.ttf") format("truetype");
	}
	@font-face {
		font-family: 'Merriweather';
		font-style: normal;
		font-weight: 300
	}
}


:root {
	--text-green: #859a5b;
	--text-orange: #eac087;
	--text-red: #BD2726;
}